min-age=1209600
audit=true
audit-level=high
registry=https://registry.npmjs.org/
package-lock=true
save-prefix=~
prefer-offline=false
fund=false
progress=false
ignore-scripts=true
legacy-peer-deps=false
strict-peer-deps=true
strict-ssl=true
always-auth=true
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
